/**
 * Github Light theme for Prism.js
 * Based on Github: https://github.com
 * @author Katorly
 */
/* General */

:root {
  --code-base-color: #24292F;
  --code-selection-background-color: #9FC6E9;
  --code-background-color: #F6F8FA;
  --code-inline-background-color: #EFF1F3;
  --code-line-highlight-background-color: #FFF8C5;
  --code-line-highlight-shadow-color: #EED888;
  --code-comment-color: #6E7781;
  --code-punctuation-color: #24292F;
  --code-symbol-color: #0550AE;
  --code-string-color: #0A3069;
  --code-operator-color: #0550AE;
  --code-operator-background-color: transparent;
  --code-keyword-color: #CF222E;
  --code-function-color: #8250DF;
  --code-variable-color: #0A3069;
}

@media (prefers-color-scheme: dark) {
  :root {
    --code-base-color: #C9D1D9;
    --code-selection-background-color: #234879;
    --code-background-color: #161B22;
    --code-inline-background-color: #343942;
    --code-line-highlight-background-color: #2F2A1E;
    --code-line-highlight-shadow-color: #674C16;
    --code-comment-color: #8B949E;
    --code-punctuation-color: #C9D1D9;
    --code-symbol-color: #79C0FF;
    --code-string-color: #A5D6FF;
    --code-operator-color: #A5D6FF;
    --code-operator-background-color: #161B22;
    --code-keyword-color: #A5D6FF;
    --code-function-color: #D2A8FF;
    --code-variable-color: #A8DAFF;
  }
}


pre[class*="language-"],
code[class*="language-"] {
  color: var(--code-base-color);
  font-size: 13px;
  text-shadow: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"]::mozselection,
code[class*="language-"]::mozselection {
  text-shadow: none;
  background: var(--code-selection-background-color);
}
@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  background: var(--code-background-color);
}
:not(pre) > code[class*="language-"] {
  padding: .1em .3em;
  border-radius: .3em;
  color: var(--code-base-color);
  background: var(--code-inline-background-color);
}
/* Line highlighting */
pre[data-line] {
  position: relative;
}
pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: var(--code-line-highlight-background-color);
  box-shadow: inset 5px 0 0 var(--code-line-highlight-shadow-color);
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
/* Tokens */
.namespace {
  opacity: .7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-comment-color);
}
.token.punctuation {
  color: var(--code-punctuation-color);
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--code-symbol-color);
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--code-string-color);
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--code-operator-color);
  background: var(--code-operator-background-color);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--code-keyword-color);
}
.token.function {
  color: var(--code-function-color);
}
.token.regex,
.token.important,
.token.variable {
  color: var(--code-variable-color);
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
